In [2]:
import os
import pandas as pd

Open File

In [3]:
for file in os.listdir('/Repos/GPS_outliers/input/old'):
    print(file)

data-6abca0f8-8939-44f5-ac26-739d4dd69216.txt
device-6abca0f8-8939-44f5-ac26-739d4dd69216.txt
gps-6abca0f8-8939-44f5-ac26-739d4dd69216.txt
raw-6abca0f8-8939-44f5-ac26-739d4dd69216.txt

Lecture du fichier et affichage sous forme de dataframe

In [4]:
df = pd.read_csv('/Repos/GPS_outliers/input/old/gps-6abca0f8-8939-44f5-ac26-739d4dd69216.txt')
del df['Unnamed: 0']
df

         Timestamp  Quality        Lat       Lon
0    1627980958672      2.5  47.639140  6.148163
1    1627980964469     14.5  47.636136  6.152410
2    1627980970488      5.0  47.636069  6.152629
3    1627980976462      2.5  47.636183  6.152918
4    1627980982470      1.5  47.636311  6.153307
..             ...      ...        ...       ...
595  1627984528424      3.0  47.583847  6.860338
596  1627984534426      3.0  47.583847  6.860338
597  1627984540425      3.0  47.583847  6.860338
598  1627984546476      3.0  47.583847  6.860338
599  1627984552400      3.0  47.583847  6.860338

[600 rows x 4 columns]

Analyses du dataframe df

In [5]:
len(df)

600

In [6]:
df.shape

(600, 4)

In [8]:
df.dtypes

Timestamp      int64
Quality      float64
Lat          float64
Lon          float64
dtype: object

In [9]:
df.isnull()
df.isna()

df.isnull().sum()

Timestamp    0
Quality      0
Lat          0
Lon          0
dtype: int64

In [10]:
df.describe()

          Timestamp     Quality         Lat         Lon
count  6.000000e+02  600.000000  600.000000  600.000000
mean   1.627983e+12    2.065000   47.636150    6.527674
std    1.040159e+06    0.752808    0.035486    0.221202
min    1.627981e+12    1.000000   47.583847    6.148163
25%    1.627982e+12    1.500000   47.599389    6.347321
50%    1.627983e+12    2.000000   47.636383    6.518465
75%    1.627984e+12    2.000000   47.664033    6.725950
max    1.627985e+12   14.500000   47.698512    6.860373

In [13]:
df.duplicated()
df.duplicated().sum()

0

In [15]:
df

         Timestamp  Quality        Lat       Lon
0    1627980958672      2.5  47.639140  6.148163
1    1627980964469     14.5  47.636136  6.152410
2    1627980970488      5.0  47.636069  6.152629
3    1627980976462      2.5  47.636183  6.152918
4    1627980982470      1.5  47.636311  6.153307
..             ...      ...        ...       ...
595  1627984528424      3.0  47.583847  6.860338
596  1627984534426      3.0  47.583847  6.860338
597  1627984540425      3.0  47.583847  6.860338
598  1627984546476      3.0  47.583847  6.860338
599  1627984552400      3.0  47.583847  6.860338

[600 rows x 4 columns]